<div class="jumbotron">
    <span><h1 class="display-5 text-center ">New York Nepali Cricket Club</h1></span>
    <div class="container">
        <div>
            <h3>COACH</h3>
            <img src="images/nynccTeampic.jpg" class="images" >

        </div>
        <div><h3>PLAYERS</h3> 
            <img src="images/nynccTeampic.jpg" class="images" >
        </div>
        <div><h3>MANAGEMENT</h3>
            <img src="images/nynccTeampic.jpg" class="images" >
        </div>
        
    
    </div>
    
</div>