
<div class="jumbotron">

<div>
 <a class="weatherwidget-io" href="https://forecast7.com/en/40d71n74d01/new-york/" data-label_1="NEW YORK" data-label_2="WEATHER" data-theme="original" >NEW YORK WEATHER</a>
<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
</script>
 </div>

 <div class="container" style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;">

    <span><h1 class="display-5 text-center ">New York Nepali Cricket Club</h1></span>

    <div class= "polaroid">
           
            <div class="fb">
                <div class="fb-page"  
                    data-width="500px" 
                    data-href="https://www.facebook.com/NYNepaliCC/" 
                    data-tabs="timeline" 
                    data-small-header="false" 
                    data-adapt-container-width="true" 
                    data-hide-cover="false" 
                    data-show-facepile="true"
                >
        
                </div>
            </div>

             <div style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;"><h3> TEAM MANAGEMENT</h3>
                <img src="images/managamentPic.jpg" class="images" width="400px" height="250px">
                <ul>
                
                    <a href='/management'><p>Shushant Tuladhar</p>
                                <p>Suyash Rayamajhi</p>
                                <p>Ashok Gupta</p>
                                <p>Raish Bartaula</p>
                    </a> 
                </ul>
            </div>

    </div>

           <div style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;">
           <span> <h3>COACH & CAPTAIN</h3></span>
           </div>
        <div class= "polaroid">
                <div class="coach" style="text-align: center; margin-top:  5px; padding: 13px 0 10px 0;">
                    <p>Coach</p> 
                    <img src="images/manishCoach.jpg" class="images" width="300px" height="250px"> 
                    <a href='/coach'><p>Mango Singh</p></a> 
                </div>
                <div class="captain" style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;">
                    <p>Captain</p>
                    <img src="images/shushant.jpg" class="images" width="300px" height="250px">
                    <a href='/captain'><p>Shushant Tuladhar</p></a>
                </div>
        </div>

    
        <div style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;"><span><h3>PLAYERS</h3> </span>
            <img src="images/teamPic.jpg" class="images" width="auto" height="600px">
            <a href='/players-list'><p>Players List</p></a> 
        </div>
        
        
    </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId={APP_ID}";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    
</div>