<div class="jumbotron">
    <span><h1 class="display-5 text-center ">New York Nepali Cricket Club</h1></span>
    <div class="container" style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;">
        <div style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;"><h3>PLAYERS</h3> 
            <img src="images/nynccTeampic.jpg" class="images" width="800px" height="600px">
        </div>

            <h3>COACH & CAPTAIN</h3>
            <div class= "polaroid">
            <div class="coach" style="text-align: center; margin-top:  5px; padding: 13px 0 10px 0;">
                <p>Coach</p> 
                <img src="images/nynccTeampic.jpg" class="images" width="200px" height="150px"> 
                <p>Shushant Tuladhar</p> 
            </div>
            <div class="captain" style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;">
                <p>Captain</p>
                <img src="images/nynccTeampic.jpg" class="images" width="200px" height="150px">
                <p>Manish Singh</p>
            </div>
            </div>
        
        <div class= "polaroid">
        <div style="text-align: center; margin-top: 5px; padding: 13px 0 10px 0;"><h3> TEAM MANAGEMENT</h3>
            <img src="images/nynccTeampic.jpg" class="images" width="200px" height="150px">
            <ul>
            
                <p>Shushant Tuladhar</p><p>Suyash Rayamajhi</p><p>Ashok Gupta</p><p>Raish Bartaula</p>
            </ul>
        </div>
        </div>
    
    </div>
    
</div>