<div class="jumbotron">
    <h1 class="display-5 text-center ">New York Nepali Cricket Club</h1>
    <div class="container">
        
        <img src="images/nynccTeampic.jpg" class="images" >
    
    </div>
    
</div>