<!doctype html>
<% include ./partials/nav %>
<html lang="en">

<% include ./partials/head %>


    <body class="pt-4 my-md-5 pt-md-5 border-top">
        <img src='./images/ClubLogo.jpg' width='100px' height='100px'>
         
<h3>Introduction</h3>
<p>Sports has constantly been one recreation to maintain and promote the very satisfactory degrees of conduct, discipline and fitness. We’re all acquainted with the announcing “It’s truly no longer a sport” which implies that it’s beyond the game. With this in mind, New York Nepali Sports Foundation has motto of “Uniting Nepalese Community through sports”.<p/>
<h3>Mission </h3>
<p>New York City is the Mecca of diversity. Nepalese community in New York City area is itself a diverse community within the city. Since, Nepalese community is divided into many smaller communities based on ethnic groups and castes, NYNSF will contribute to the cause of uniting the Nepalese on the whole. Our main objective of this foundation is to unite Nepalese community through the means of sports. </p>

<h3>The Spirit of NYNSF </h3>
<p>Our objective here is to ensure that all members and players, when representing the NYNSF, play sports in the true spirit and traditions of the game so that the game can be enjoyed by all, including spectators, oppos¬ing players and administrators; and that the foundation is held in such high standard that former players and other supporters actively seek to maintain relationships with the NYNSF. The New York Nepali Sports Foundation has produced a report titled the Spirit of NYNSF. The summary is outlined below.
Sports are games that owes much of their unique appeal to the fact that they should be played not only within Laws and regulation but also within the Spirit of the Game. Any action, which is seen to abuse this spirit, causes injury to the game itself. The major responsibility for ensuring the spirit of fair play rests with the managers and captains of the teams/clubs that NYNSF supports in any capacity. 
We go further, and say that it rests with all players alike.</p>

<p>This document is a set of guidelines to provide an understanding of the expectations the teams/clubs have of each player. Where this document refers to players, it also refers to non-players, spectators and other associated individuals with NYNSF. While we acknowledge that our influence on individuals, other than our members is limited, we encourage them to respect the spirit of the sports and what we are seeking to maintain. 
These guidelines are relevant during match days (on and off the field), training, and club functions and at any other time when representing New York Nepali Cricket Foundation, including social tours. 
Players in breach of our Code may expect to receive penalties varying from a caution through to expulsion, depending on the severity and the nature of the breach, or frequency of breeches. </p>

<h3>CODE OF CONDUCT </h3>

<p>No person bound by this Code of Conduct (Code) shall engage in disorderly or improper conduct or behavior. Disorderly or improper conduct or behavior includes, but is not restricted to, a person:</p>

1. Assaulting or attempting to assault, or abusing, either orally or physically, an umpire, player or spectator; 
    <br>
2. Disputing, as distinct from questioning, an umpire’s decision, or reacting in an obviously provocative manner towards umpires;
<br>
3. Infringing the rules relating to advertising on teams/clubs clothing or equipment. 
<br>
4. Engaging in any form of conduct or behavior detrimental to the spirit of the game or likely to bring the game or sponsors of NYNSF into disrepute, including the use or distribution of illegal drugs and acts of racism.
<br>

<p>The captain of a team shall ensure that the players comply with the Code of Conduct. The captain of a team breaches the Code of Conduct if a player in that team engages in continuing disorderly or improper conduct or behavior. </p>

<h3>EQUAL OPPORTUNITY CODE</h3>
<p>No person who is representing NYNSF shall engage in any conduct, act towards or speak to any other person in a manner which offends insults, humiliates or vilifies such person on the basis of that person’s race, caste, gender, religion, color, descent or ethnic origin. </p>

<h3>NYNSF Officials and Committee members</h3>
President: Manish Singh	
<br>
Vice-President: Jongbu Sherpa
<br>
Vice-President: Dinesh Yadav
<br>
Treasurer: Suyash Raymajhi
<br>
Secretory: Raish Bartaula</h3>

<h3>Technical Officials:
Mangos Consulting Firm
<br>
Prajwal Shrestha (icodemind)</h3>





<%# EXPECTATION FROM PLAYERS 
PLAYER REGISTRATION
Registration fees should be paid as soon as possible to the start of the season. Selection will be prioritized towards members who are up to date with their subscriptions. 
Player Availability
All players for the purpose of selections are assumed to be available for all games throughout the season. If at any time a player is unable to make a game, they are to contact both their captain and the selector/s to inform them of their unavailability. 
Selection Policy
Where a player is unavailable for selection, they should not consider them self a certainty to be selected as soon as they make themselves available again. It is quite possible that they will not be selected in any grade upon their return. All the playing players selection will be based on practice and match performances. No question will be asked to team management and Captain on selection. 
Training Expectations
Training is to be used to improve your game and those that you are training with. All players are encouraged to train at least once a week. It is understood that work and family commitments can clash with those of the cricket club. Your captain should be made aware if you are unable to attend training. 
Match Days
Players are requested arrange their own transportation. When playing away, car-pooling is encour¬aged. 
At the ground, there are various duties that need to be done. These include laying boundary markers and setting up the score through a mobile application. After play, all equipment needs to be placed away and surrounding areas are to be left clean at the end of the day. 

BREACHES OF THE CODE OF CONDUCT 
Any breach of this code can be reported to a member of the Management Committee who will advise the team/Club Officials. An independent person, from within the Committee, will be appointed to investigate the breach and report to the Committee with recommendations of an appropriate penalty should the breach be proven to the satisfaction of the Committee. %>




    </body>
  
 


</html>