<!doctype html>
<% include ./partials/nav %>
<html lang="en">

<% include ./partials/head %>


    <body class="pt-4 my-md-5 pt-md-5 border-top">
    <div class='member'>
     Coach: Mango Singh 
     <img src='./images/mango.jpg' witdh='300px' height='250'>
     <a href='https://www.cricclubs.com/RoyalPremierLeagueNewYork/viewPlayer.do?playerId=580864&clubId=7058'> More details!</a> 
    
    </div>
    
    <iframe src="https://www.cricclubs.com/RoyalPremierLeagueNewYork/viewPlayer.do?playerId=580864&clubId=7058" witdh='600px' height='600px'>
    
    </iframe>
    </body>
  
 


</html>