<!doctype html>
<% include ./partials/nav %>
<html lang="en">

<% include ./partials/head %>


    <body class="pt-4 my-md-5 pt-md-5 border-top">
    <div class='member'>
     NYNCC FINANCE UPDATES:
     
    </div>
    
    <iframe src="https://docs.google.com/spreadsheets/d/1tc6FlCIrKXuFtD3i4TTdBtFg0ZD_3V2IkDbFV66fKsU/edit?ts=5d326210#gid=0" witdh='600px' height='800px'>
    
    </iframe>
    </body>
  
 


</html>