body{
    padding: 10px;
    background:  #b2c9cf;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    
}


.container{
    width: 100%;
    background-color: rgb(231, 164, 164);
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: #d486b1;
    flex-wrap: wrap;
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
span{
    color: rgb(214, 27, 27);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    
}

.fb{
    max-width: auto;
}

div.polaroid {
    width: 95%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em blue;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    border: #d486b1;
   
  }
 



.row {
    padding-bottom: 25px;
}

.card {
    width: 18rem; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    min-height: 430px;
}

.images{
    max-width: 100%;
    height: auto;
    border-style: double;
}
