body{
    padding: 50px;
    background:  #b2c9cf;
}

.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    border: #d486b1;
    flex-wrap: wrap;
}
span{
    color: rgb(214, 27, 27)
}
.container > div{
    
    border-style: #bd2277
    
}


.row {
    padding-bottom: 25px;
}

.card {
    width: 18rem; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    min-height: 430px;
}

.images{
    width: 400px; 
    height: 300px;
}