body{
    padding: 50px;
    background:  #b2c9cf;
}

.container{
    display: flex;
    justify-content: space-around
    
}

.row {
    padding-bottom: 25px;
}

.card {
    width: 18rem; 
    margin-bottom: 10px; 
    margin-top: 10px; 
    min-height: 430px;
}

.images{
    width: 800px; 
    height: 600px;
}