<!doctype html>
<html lang="en">

    <% include ../partials/head %>

 <body>
       <div class="row">
           <div class="col">
               <img src="<%= member.image %>" />
           </div>
           <div class="col">
               <h1>Name: <%= member.name %></h1>
               
           </div>
       </div>
 </body>
</html>