<!DOCTYPE html>
<html>
  <% include ../partials/head %>
  <body>
    
    <% include ../partials/nav %>

    <% include ../partials/main-member-page %>

    <% include ../partials/footer %>

  </body>
</html>